/* Adjust the following config properties to your liking */
:root {
    --floorpier-border-radius: 10px;
    --floorpier-main-window-vertical-margin: 0px;
    --floorpier-main-window-horizontal-margin: 0px;
    --floorpier-sidebar-splitter-width: 5px;
}
